.table-cell {
    width: 60px;
    /* Ajusta el tamaño según tus necesidades */
    height: 60px;
    /* Ajusta el tamaño según tus necesidades */
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    /* Tamaño de fuente para los símbolos */
}

.table-row {
    height: 60px;
    /* Ajusta el tamaño según tus necesidades */
}

.table-container {
    display: inline-block;
    text-align: center;
    /* Asegura que el contenido de la tabla esté centrado */
}